<div class="users">
    <div class="users__names">
        <span class="users__names--title">
            Kullanıcı Listesi
        </span>
        <ul class="users__names--list">
            <a href="/users/new" class="btn btn-primary">Yeni Kullanıcı Ekle</a>

            <% users.forEach(user => { %>
                <li class="users__names--item">
                    <a href="/users/<%= user.userid %>"><%= user.name %> - <%= user.email %></a>
                    <a href="/users/edit/<%= user.userid %>" class="editBtn">Düzenle</a>
                    <form action="/users/delete/<%= user.userid %>" method="POST">
                        <button type="submit" class="deleteBtn">Sil</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
